.list {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
}

.item {
  padding-top: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
}

.loading {
  color: blue;
}

.error {
  color: red;
}
